DataHub @ git+https://github.com/Snackman8/DataHub.git@v2.0
pandas
matplotlib
folium
selenium
tabulate
bokeh
plotly
psutil
Pygments
mysql-connector-python
SQLAlchemy
pyodbc
pymssql
pylinkjs @ git+https://github.com/Snackman8/pyLinkJS.git